{{#partial "content"}}
    <div class="page-container" style="margin-bottom: 2rem;">
        <h4> Welcome to my Epicodus Blog.</h4>
        <h6>A journey into code!</h6>
    </div>
    <hr>

    <a class="btn-floating btn-large waves-effect waves-light light-blue accent-4 add-button" href="/posts/new"> + </a>

    <h4>Post List!</h4>

    <!--Check For Posts-->
    {{#if posts}}
        {{#each posts}}
            <div class="grey lighten-3 posts">
                <p>Current post:</p>
                <p>{{ content }} <a href="/posts/{{id}}">Read more...</a></p>
            </div>
        {{/each}}
    {{else}}
        <div class="grey lighten-3 no-posts">
            <p>No Posts!</p>
        </div>

    {{/if}}
{{/partial}}

{{> layout.hbs }}